@import './arabic-fonts.css';
/* Bootstrap custom overrides and global styles */

/* Remove number input arrows for all browsers globally */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
input[type=number] {
  -webkit-appearance: none !important;
  -moz-appearance: textfield !important;
  appearance: none !important;
}
